{% load static %}

<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block titulo_tab %}
            Catalogo
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'bs522/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fa_all.min.css' %}">
</head>
<body>

{% block contenido %}
    <h1>Mi Catalogo</h1>
{% endblock %}

<script src="{% static 'bs522/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/fa_all.min.js' %}"></script>
</body>
</html>