{% extends 'website/base.html' %}
{% block titulo_tab %}
    {{ producto.nombre }} - Detalle
{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 style="color: mediumblue">
                    <a href="{% url 'website:index_website' %}"><i class="fa-solid fa-arrow-left"></i></a>
                    {{ producto.nombre }}
                </h1>
                <img src="{{ producto.imagen.url }}" alt="Foto Producto">
                <div>
                    {% for obj in producto.galeria.all %}
                        <p>{{ obj.nombre }}</p>
                        <img src="{{ obj.imagen.url }}" alt="" class="img-thumbnail w-25">

                    {% endfor %}
                </div>

                <h3 style="color: #bb2d3b">{{ producto.descripcion }}</h3>
                <br>
                <a href="#" class="btn btn-primary">${{ producto.precio }}</a>
                <br>
                <br>
                <h2>
                    <a href="https://api.whatsapp.com/send?phone=529933070285&text=Quiero comprar estes producto {{ producto.nombre }} https://127.0.0.1:8000 {{ request.path }}"
                       class="text-success" target="_blank">
                        <i class="fa-brands fa-whatsapp"></i>
                        Ordenar
                    </a>
                </h2>

            </div>

        </div>
    </div>

{% endblock %}