{% extends 'website/base.html' %}
{% block titulo_tab %}
    Inicio - Catalogo
{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Fondita "lo mas Barato"</h1>
                {% for objects in objects_list %}
                    {% if objects.activo %}
                        <div class="card" style="width: 18rem;">
                            <img src="{{ objects.imagen.url }}" class="card-img-top" alt="Foto Comida">
                            <div class="card-body">
                                <h5 class="card-title">{{ objects.nombre }}</h5>
                                {#                            <p class="card-text">Some quick example text to build on the card title and make up the bulk#}
                                {#                                of the card's content.</p>#}
                                <a href="{% url 'website:detalle_producto' objects.pk %}"
                                   class="btn btn-primary">${{ objects.precio }}</a>
                            </div>
                        </div>

                    {% endif %}

                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}