{% extends 'basebs5.html' %}

{% block titulo_tab %}
{{ titulo}} - Dashboard
{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Dashboard Administrativo</h1>
                <h2>{{ titulo}}</h2>
                <a href="{% url 'dashboard:index' %}" class="btn btn-warning"> <- Inicio</a>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="table table-bordered table-hover mt-4">
                        {{ form.as_table }}
                        <tr>
                            <td colspan="2" class="text-end">
                                <input type="submit" class="btn btn-dark" value="Guardar">

                            </td>
                        </tr>

                    </table>
                </form>

            </div>
        </div>
    </div>
{% endblock %}