{% extends 'basebs5.html' %}

{% block titulo_tab %}
    Dashboard - Administrativo
{% endblock %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Dashboard Administrativo</h1>
                <a href="{% url 'dashboard:crear_producto' %}" class="btn btn-warning">+ Producto</a>
                <table class="table table-bordered table-hover mt-4">
                    <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Imagen</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for objects in objects_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ objects.nombre }}</td>
                            <td class="text-center">
                                <img src="{{ objects.imagen.url }}" class="img-thumbnail" style="width: 100px">
                            </td>
                            <td>
                                <a href="{% url 'dashboard:borrar_producto' objects.pk %}"
                                   class="btn btn-sm btn-dark">Borrar</a>
                                <a href="{% url 'dashboard:editar_producto' objects.pk %}" class="btn btn-sm btn-warning">Editar</a>
                            </td>
                        </tr>
                    {% endfor %}


                    </tbody>

                </table>
            </div>
        </div>
    </div>
{% endblock %}